#browser-check { display: none!important; }

##{$ID} {
  h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-weight: normal;
  }

  p { margin: 0; }

  .nopadding,
  .container-nopadding {
    padding-left: 0!important;
    padding-right: 0!important;
  }

  .clear { clear: none; }
  strong { font-weight: bold; }

  .img-center {
    display: none;
    margin-left: auto;
    margin-left: right;
  }

}
