// 1 - YOU CAN DO SOME CUSTOMISATION HERE
// $grid-gutter-width: 0px;
// $header-is-transparent: true;
// $page-is-full-width: true;

// 2 - INCLUDE SOME SCSS FROM MODULES HERE
@import "bootstrap_variables";
@import "src/styles/_bootstrap-custom.scss";
@import "common/styles/global.scss";
@import "common/styles/global_#{$CLIENT}.scss";

// 3 - HERE YOU CAN OVERRIDE STYLES FROM THE WEBSITE ( MENU, FOOTER, ... )

##{$ID} {
  clear: both;  

// 4 - AND YOUR CSS CODE GOES HERE
p{ font-size:14px; line-height:30px;}
img{max-width:100%;}
p.center{text-align:center;}
.p1-30{ padding-top:30px;}
.p1-40{ padding-top:40px;}
.p1-50{padding-bottom:40px;}
a.underline{ text-decoration:underline;}

@media screen and (max-width: 767px) {
.h-line-break br{ display:none;}
}



}
